<div class="{{this.bodyClass()}}">
  <div class="card-body">
    <h5 class="card-title">{{lista.descricao}}</h5>
    <ul class="list-group">
      <app-item-lista *ngFor="let tarefa of lista.tarefas" [itemLista]="tarefa"></app-item-lista>
    </ul>
    <div>

    </div>
    <strong>Adicionar nova tarefa</strong>
    <div class="row">
      <input class="form-control col-10" [value]="novoItem" (input)="novoItem = $event.target.value">
      <button class="btn btn-success col-2" (click)="addTarefa()">+</button>
    </div>
    <p class="card-text">{{lista.observacao}}</p>
    <a href="#" class="btn btn-success">Concluir</a>
    <a (click)="deleteItem()" class="btn btn-danger">Remover</a>
  </div>
</div>