<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">2DO - LIST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/listas']">Minhas listas</a>
            </li>                
            <li ngbDropdown class="nav-item dropdown">
                <button class="btn btn-outline-primary" id="acesso_rapido" ngbDropdownToggle>Acesso rápido</button>
                <div ngbDropdownMenu aria-labelledby="acesso_rapido">
                    <button ngbDropdownItem [routerLink]="['/nova-lista']">Nova lista</button>
                    <button ngbDropdownItem>Listas já concluídas</button>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem [routerLink]="['/time']">Dados do grupo</button>
                  </div>                    
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/views/list/create.html">Nova lista</a>
                    <a class="dropdown-item" href="/views/list/finished.html">Listas já concluídas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/views/info/team.html">Dados do grupo</a>
                </div>
            </li>
        </ul>
    </div>
</nav>