<div class="container-fluid">
  <h1>Grupo</h1>
  <div class="row">
      <div class="col-sm-3">
          <div class="card">
              <img class="card-img-top" src="../../assets/img_avatar5.png" alt="Gisele Nunes Rodrigues">
              <div class="card-body">
                  <h4 class="card-title">Gisele Nunes Rodrigues</h4>
                  <p class="card-text">RA 162150451</p>
              </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
              <img class="card-img-top" src="../../assets/img_avatar1.png" alt="Thales Reis">
              <div class="card-body">
                  <h4 class="card-title">Thales Augusto Gonçalves Reis</h4>
                  <p class="card-text">RA 1811516370</p>
              </div>
          </div>
      </div>
  </div>
</div>